
.col{

    margin-left: 10px;
}

img{
    width:15vw;
    height: 35vh;
}

body{
    background-position: left top;
    background-image: url(../JPEG/astro.gif);
    background-repeat: repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    font-family: 'Roboto Mono', monospace;
}

.buttons{
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
}

#messages{
    text-align: center;
    color:white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
}