
body{
    font-family: monospace;
    background-color: #5bc0de;
    margin:0px;
}

ul{
    background-color: #5bc0de;
    list-style: none;
    padding-left: 0px;
}

li{
    display:block;
}

.cold{
    font-size: 18px;
    color:black;
    margin-top:10px;
}

button{
    font: 300 8px Arial;
}

.name{
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color:white;
}

.list-group{
    font-size: 16px;
}

.modal-body{
    font-size: 30px;
}
