.header{
    background-color: blue;
    color: white;
    font-size: 30px;
    display:block;
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding-right: 200px;
    padding-left: 10px;
}

ul{
    list-style: none;
}

#hoc{
    font-size: 50px;
    font-weight: bold;
}

#home{
    font-weight: bold;
}

#title{
    font-size:50px;
    color:gray;
}

#content{
    font-size:18px;
}

#bloo{
    font-size: 40px;
    color:blue;
}

.subHeader{
    background-color: lightgray;
    color:rgb(24, 22, 22)
}

.orange{
    background-color: orange;
    color: white;
}

.h3{
    color:lightskyblue;
}